@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditClassModal> _localizer

<EditForm Model="@AddEditClassModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddEditClassModel.Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @_localizer["Add Class"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @_localizer["Update Class"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddEditClassModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditClassModel.Id)" @bind-Value="AddEditClassModel.Id" Label="@_localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditClassModel.Name)" @bind-Value="AddEditClassModel.Name" Label="@_localizer["Name"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditClassModel.Description)" @bind-Value="AddEditClassModel.Description" Label="@_localizer["Description"]" />
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudNumericField For="@(() => AddEditClassModel.MaxClassSize)" @bind-Value="AddEditClassModel.MaxClassSize" Label="@_localizer["Max Class Size"]" />
                </MudItem>

                <MudItem xs="12" md="6">
    <MudSelect T="string" @bind-Value="AddEditClassModel.Level" Label="@_localizer["Level"]">
        @foreach (var level in ClassLevels)
        {
            <MudSelectItem Value="@level">@(_localizer[level])</MudSelectItem>
        }
    </MudSelect>
</MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="string" @bind-Value="AddEditClassModel.Frequency" Label="@_localizer["frequency"]">
                        @foreach (var frequency in Frequency)
                        {
                            <MudSelectItem Value="@frequency">@(_localizer[frequency])</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudText>@_localizer["Timing"]</MudText>
                        <MudItem>
                            <MudSelect T="string" @bind-Value="SelectedStartTime" Label="@_localizer["Start Time"]">
                                @foreach (var slot in TimeSlots)
                            {
                                <MudSelectItem Value="@slot">@slot</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem>
                        <MudSelect T="string" @bind-Value="SelectedEndTime" Label="@_localizer["End Time"]">
                            @foreach (var slot in TimeSlots.Where(slot => string.Compare(slot, SelectedStartTime) > 0))
                            {
                                <MudSelectItem Value="@slot">@slot</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudItem>
              
              
                <MudItem xs="12" md="6">
                     <MudItem>
                        <MudAvatar Image="@(AddEditClassModel.ImageDataURL)" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                    </MudItem> 
                    <MudItem>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                                @_localizer["Upload"]
                            </MudButton>
                            @if (!string.IsNullOrEmpty(AddEditClassModel.ImageDataURL))
                            {
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Info"
                                           StartIcon="@Icons.Filled.RemoveRedEye"
                                           Size="Size.Small"
                                           Link="@(AddEditClassModel.ImageDataURL)" Target="_blank">
                                    @_localizer["View"]
                                </MudButton>
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Error"
                                           StartIcon="@Icons.Filled.Delete"
                                           Size="Size.Small"
                                           OnClick="DeleteAsync">
                                    @_localizer["Delete"]
                                </MudButton>
                            }
                        </div>
                    </MudItem> 
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">@_localizer["Cancel"]</MudButton>
            @if (AddEditClassModel.Id != 0)
            {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">@_localizer["Update"]</MudButton>
            }
            else
            {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">@_localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>